DJANGO_SECRET_KEY=your-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

DB_NAME=minimarket_crm
DB_USER=minimarket_user
DB_PASSWORD=your-database-password
DB_HOST=127.0.0.1
DB_PORT=5432